<!DOCTYPE html>
<html>
	<head>
		<Title>Python Applications</Title>
		<link rel="stylesheet" type="text/css" href= "static/styles/home_page.css">
	</head>
	<body>
		<h2>Home Page</h2>
		<p>Web application of Python Application (pypi packages)</p>
		<h3><a href="star-chart-spherical-projection">Generate Star Chart<a></h3>
		<p><a href="https://pypi.org/project/star-chart-spherical-projection/">pip3 install star-chart-spherical-projection</a></p>
		<h3><a href="muller-eot">Generate Equation of Time</a></h3>
		<p><a href="https://pypi.org/project/muller-eot/">pip3 install muller-eot</a></p>
	</body>
</html>
