<!DOCTYPE html>
<html>
	<head>
		<Title>Home</Title>
		<link rel="stylesheet" type="text/css" href= "{{url_for('static', filename='styles/home_page.css')}}">
	</head>
	<body>
		<h2>Applications</h2>
		<p>Web application of Python Application (pypi packages)</p>
		<h3><a href="star-chart-spherical-projection">Generate Star Chart</a></h3>
		<p>Generate a star chart via the star-chart-spherical-projection Pypi Package in Python with proper motion and precession of the equinoxes</p>
		<p>Download or pip install package:</p>
		<code>
			<p><a href="https://pypi.org/project/star-chart-spherical-projection/">pip3 install star-chart-spherical-projection</a></p>
		</code>

		<h3><a href="muller-eot">Generate Equation of Time</a></h3>
		<p>Generate a chart for the Equation of Time via the muller-eot Pypi Package in Python based on arbitary obliquity, eccentricity, and orbital period</p>
		<p><a href="http://info.ifpan.edu.pl/firststep/aw-works/fsII/mul/mueller.pdf">M. Müller implementation of the "Equation of Time - Problem in Astronomy"</a></p>
		<p>Download or pip install package:</p>
		<code>
			<p><a href="https://pypi.org/project/muller-eot/">pip3 install muller-eot</a></p>
		</code>
	</body>
</html>
