<!DOCTYPE html>
<html>
	<head>
		<Title>Run Star Chart</Title>
		<link rel="stylesheet" type="text/css" href= "static/styles/home_page.css">
	</head>
	<body>
		<h2><a href="/home">Home</a></h2>
		<h2>Generate Star Chart</h2>
		<h4>Options:</h4>
		<form class="starChartText" id="starChartForm" action="{{ url_for('render_star_chart_results') }}" method="post">

			<label for="hemisphere">Select Hemisphere (North centered on +90°, South centered on -90):
				<select id="hemisphere" name="hemisphere">
					<option value="north">North</option>
					<option value="south">South</option>
				</select>
			</label>

			<label for="yearProperMotion">Year Difference from 2000 (i.e. -31 = 1969):
				<input type="number" id="yearProperMotion" name="yearProperMotion" min=-150000 max=150000 step=0.0000000001 value=-31>
			</label>

			<label for="displayStarName">Display Star Names:
				<input type="checkbox" id="displayStarName" name="displayStarName" value="False">
			</label>

			<label for="displayDeclinationNum">Display Declination Numbers:
				<input type="checkbox" id="displayDeclinationNum" name="displayDeclinationNum" value="True" checked>
			</label>

			<label for="includePrecession">Include Precession of the Equinoxes:
			<input type="checkbox" id="includePrecession" name="includePrecession" value="True" checked>
			</label>

			<label for="incrementValue">Increment Declination by:
				<select id="incrementValue" name="incrementValue">
					<option value="10">10°</option>
					<option value="5">5°</option>
					<option value="1">1°</option>
				</select>
			</label>

			<label for="userStarsValue">Stars to be Included (by default includes all):
				<br>
				<select id="userStarValues" name="userStarsValue" method="GET" action="/" multiple>
					{% for star in all_star_options %}
						<option value="{{star}}" SELECTED>{{star}}</option>"
					{% endfor %}
				</select>
				</select>
			</label>

			<input class="starChartText" id="starChartSubmit" type="submit" value="Submit">
		</form>
	</body>
</html>
