body {
	padding-left: 20px;
	font-family: "Georgia", "serif";
}

h2, h3 {
	font-size: 24px;
}

p {
	font-size: 16px;
}

#eotSubmit, #starChartSubmit {
	padding: 5px 20px;
	border-radius: 5px;
	margin-top: 20px;
}

label {
	display: block;
	margin-bottom: 20px;
}

code {
	background-color: #eee;
	border: 1px solid #999;
	display: block;
	padding: 20px;
}

table, th, td {
	border:1px solid black;
	padding: 8px;
	text-align: left;
}

tr:hover {
	background-color: #ddd;
}

a:link, a:visited, a:active {
	color: blue;
}

#userStarValues {
	width: 200px;
	height: 1000px;
}


/*Results*/
.column {
  float: left;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
